/* You can add global styles to this file, and also import other style files */
@import '~font-awesome/css/font-awesome.css';

.icheck {
  transform: scale(0.7, 0.7);
  width: 212px;  
  height: 22px;  
}
.icheckbox_square-blue{
  width: 140%;
  height: 140%;
}

 
